html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

h1 {
  font-family: 'Nunito Sans';
}

p {
  margin: 20px 10px 20px 0px;
  font-family: Chivo;
}

a {
  text-decoration: none;
  color: black;
}

svg, i {
  color: #82b680;
}

/* Navbar */

nav {
  width: 100%;
  border: none;
  margin: 0;
  padding-left: -20px;
  background: #A3E4A1;
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans';
  }
}

@media (min-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito Sans';
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
  padding: 20px;
}

@media (max-width: 767px) {
  .logo {
    font-size: 20px;
  }
}

@media (min-width: 767px) {
  .logo {
    margin-left: 50px;
    font-size: 20px;
  }
}

#navbar-sign-up {
  font-family: Chivo;
  background: white;
  opacity: 90%;
  border-radius: 10px;
  padding: 0.7vmax;
}

/* Jumbotron */

@media (max-width: 767px) {
  #jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px 0px 60px 0px;
  }
}

@media (min-width: 767px) {
  #jumbotron {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px 0px 60px 50px;
  }
}

#jumbotron-text {
  width: 40%;
}

#jumbotron-title {
  font-size: 3.7vmax;
}

#jumbotron-sign-up {
  font-family: Chivo;
  background: #A3E4A1;
  border-radius: 10px;
  box-shadow: 0 1px 5px grey;
  padding: 10px 25px 10px 25px;
}

@media (max-width: 767px) {
  #jumbotron-laptop {
    margin-top: 30px;
  }
}

@media (min-width: 767px) {
  #jumbotron-laptop {
    margin-top: 30px;
    margin-right: 10px;
  }
}

#jumbotron-image {
  max-width: 100%;
  height: auto;
}

/* Product Description */

#product {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px 0px 50px 0px;
  background: #DCDCDC;
}

#product-description {
  font-size: 24px;
  padding: 0 20% 0 20%;
}

/* Features */

@media (max-width: 767px) {
  #features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px 0px 50px 0px;
  }
}

@media (min-width: 767px) {
  #features {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px 0px 50px 0px;
  }
}

@media (max-width: 767px) {
  .feature-box {
    text-align: center;
    width: 80%;
    padding: 0px 10% 0px 10%;
  }
}

@media (min-width: 767px) {
  .feature-box {
    text-align: center;
    width: 20%;
    padding: 0px 6% 0px 6%;
  }
}

.feature-text {
  font-size: 20px;
}

/* Footer */

footer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px 0px 20px 50px;
  background: #DCDCDC;
}

.footer-box {
  width: 30%;
}
